body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
.logo {
    margin-right: 65%;
}
.logo img {
    height: 150px; /* Ajuste o tamanho do logo conforme necessário */
}
.nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav li {
    margin: 0 15px;
}
.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    text-decoration: underline;
}

body{
    background-image: url(bg_main2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.redes img{
    height: 50px;
    margin: 0;
}

.txt_dec {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    text-align: right;
}

#pre{ 
    text-align: left;
    padding: 20px;
    color:whitesmoke
}

#ig_my{
    height: 300px;

}



h1{
    color: whitesmoke;
    text-decoration: underline;
}

#tb_main {
    margin-top: 70px;
}
.stl_tb{
    border-top: 5px solid wheat;
}

#psi_mn{
    display: flex;
    flex-direction: row;
}

.footer{
    margin-top: 30%;
    display: block;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}